*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #FFFFFF;
    --title-text-color: #2E2F42;
    --link-color: #4D5AE5;
}

body {
    font-family: "Roboto", "Raleway";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

/* nav */

.container {
margin-left: auto;
margin-right: auto;
width: 1440px;
}

.logo {
display: inline-block;
width: 71px;
height: 21px;
}

.page-header {
   
}

.site-nav {
    background-color: #FFFFFF;
}

.site-nav a {
    color: rgba(46, 47, 66, 1);
}


.site-nav a:hover
.site-nav a:focus {
    color: rgba(64, 75, 191, 1);
}

.site-nav a:active {
    color: #404BBF;
}

.meil {
    color: var(--title-text-color);
}

.phone {
    color: #434455;;
}

.list {
    list-style: none; 
}

/* уникальный контент */

.hero {
    background-color: var(--title-text-color);
    text-align: center;
}

.hero-tittle {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--primary-text-color);
}

.button-primary {
    display: inline-block;
    color: rgba(77, 90, 229, 1);
    padding-left: auto;
    padding-right: auto;
    background-color: black;
    }

.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 16px, 32px, 16px, 32px;
    color: #4D5AE5;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

}
.button:hover {
    color: rgba(64, 75, 191, 1)
}

h3 {
    color: #434455;
}

p {
    color: rgba(67, 68, 85, 1);
}

.section2 {
    background-color: rgba(244, 244, 253, 1);
    ;
}

footer {
    background-color: rgba(46, 47, 66, 1);
}

.page-nav {
    background-color: var(--primary-text-color);
}

.section2-li {
    background-color: var(--primary-text-color);
}

.text {
    font-size: 16px;
}

.hero-tittle a {
    color: #FFFFFF;
    }


.page-nav a {
    color: rgba(33, 33, 33, 1);
}

.page-nav a:hover, 
.page-nav a:focus {
    color: rgba(33, 150, 243, 1);
}

.page-nav a:active {
    color: rgba(64, 75, 191, 1);
}

.section1-title {
    color: var(--title-text-color);
}

.section2-title {
    color: var(--title-text-color);
}

/* footer */
.contacts {
    background-color: var(--title-text-color);
}



.section1-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
}

.qualities-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}