*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-text-color: #E7E9FC;
    --light-color: #F4F4FD;
    --white-background-color: #FFFFFF;
    --title-text-color: #2E2F42;
    --modal-background-color: #FCFCFC;
}

body {
    color: var(--text-color);
    
    font-family: "Roboto", "Raleway";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.img {
    display: block;
    max-width: 100%;
}

p {
    color: rgba(67, 68, 85, 1);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Утилиты */
.link {
    list-style: none;
}

.container {
    padding-left: auto;
    padding-right: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 1400px;
}

/* nav */

.main-nav {
    justify-content: center;
}

.site-nav {
    display: flex;
    margin-left: 70px;
}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.site-nav .item:not(:last-child) {
    margin-right: 40px;
} 

.site-nav.item {
display: block;
}

.adress-nav {
    display: flex;
    align-items: center;
}

.adress-nav .item + .item {
    margin-left: 12px;
}
   
.auth-nav .item+.item {
    margin-left: 20px;
   }

.site-nav .link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

    color: var(--title-text-color:);
    text-decoration: none;
    font-size: 16px;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: rgba(64, 75, 191, 1);
}

.site-nav link:active {
    color: #404BBF;
}

.auth-nav .link {
    text-decoration: none;
    font-size: 16px;
    color: var(--title-text-color:);
}


/* уникальный контент */

.hero {
    background-color: var(--title-text-color);
    text-align: center;
}

.hero-tittle {
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 40px;
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;     
}


.button-primary {
    display: inline-block;
    color: white;
    padding: 16px 32px 16px 32px;
    background-color: #4D5AE5;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 200px;
    }

.button {
    display: inline-block;
    border-radius: 6px;
    padding: 16px, 32px, 16px, 32px;
    color: #4D5AE5;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    
}

.button:hover {
    color: rgba(64, 75, 191, 1)
}

h3 {
    color: #434455;
}

/* container */

.qualities {
    display: flex;
    width: 1128px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 156px;
    padding-right: 156px;
    gap: 20px;
}


.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1440px;
    align-items: center;
    text-align: center;
    }

.section2 {
    background-color: rgba(244, 244, 253, 1);
}

.section2-title {
    text-align: center;
    padding-top: 100px;
}

.section2 > .section2-li {
    flex-basis: calc(100% / 4);
    margin-left: 15px;
    margin-top: 15px;
}

.section2 ul {
    display: flex;
}

.section-portfolio-title {
text-align: center;
}

footer {
    background-color: var(--title-text-color);
}

.page-nav {
    background-color: var(--primary-text-color);
}

.section2-li {
    background-color: var(--primary-text-color);
}

.text {
    font-size: 16px;
}

.hero-tittle a {
    color: #FFFFFF;
}

.page-nav a {
    color: rgba(33, 33, 33, 1);
}

.page-nav a:hover, 
.page-nav a:focus {
    color: rgba(33, 150, 243, 1);
}

.page-nav a:active {
    color: rgba(64, 75, 191, 1);
}

.section1-title {
    color: var(--title-text-color);
}

.section2-title {
    color: var(--title-text-color);
}

/* footer */
.contacts {
    background-color: var(--title-text-color);
}


.section1-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
}

.qualities-title {
    padding-bottom: 10px;
    
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    }

.container-footer {
    display: block;
    max-width: 1440px;
    padding-top: 30px;
    padding-left: 156px;
    padding-right: auto;
}

img.logo-footer {
    display: block;
    margin-top: 10px;
}

.footer-text {
    display: block;
    margin-top: 10px;
}